#root {
  width: 100% !important;
}

.ant-col .ant-form-item-control {
  width: 240px !important;
}

.ant-form-item-control-input {
  width: 240px !important;
}

.ant-form-item-label {
  width: 80px !important;
  margin-right: 20px !important;
}